@page
@model BetterFinds.Pages.AuctionModel
@{
    ViewData["Title"] = ViewData["ProductName"];
}

<div class="main-wrapper">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (ViewData["Edit"] != null && ViewData["Edit"] is bool edit && edit)
    {
        <div class="text-info" style="text-align: left">
            You can edit your auction at <a href="/edit?id=@(ViewData["AuctionId"])">edit auction</a> page.
        </div>
    }

    <h2 style="padding-bottom: 10px">@ViewData["ProductName"]</h2>

    <p id="auctionPrice">@($"{Utils.Currency.FormatDecimalObject(ViewData["ProductPrice"])}€")</p>
    <p>Minimum bid: @($"{Utils.Currency.FormatDecimalObject(ViewData["MinimumBid"])}€")</p>
    <!-- Countdown timer -->
    <div id="countdown"></div>
    @if (ViewData["Images"] is List<string> images && images != null && images.Any())
    {
        <br />
        <div class="product-images">
            @foreach (var image in images)
            {
                <img class="slider-image" src="@image" alt="Images" />
            }
        </div>
        <div id="imageInfo">
           <p style="text-align: center" id="imageCounter"></p>
        </div>
    }
    <br />
    <div style="white-space: break-spaces">@ViewData["ProductDesc"]</div>
    <br />
    <p>Start Time: @ViewData["StartTime"]</p>
    <p>End Time: @ViewData["EndTime"]</p>
    <br />
    <p>Seller info: <a href="/account?id=@ViewData["SellerId"]">@@@ViewData["SellerUsername"]</a> - @ViewData["SellerFullName"]</p>
    @if (ViewData["BuyerUsername"] != null && ViewData["BuyerFullName"] != null)
    {
        <p>Buyer info: <a id="buyerLink" href="/account?id=@ViewData["BuyerId"]">@@@ViewData["BuyerUsername"]</a> - <span id="buyerFullName">@ViewData["BuyerFullName"]</span></p>
        <br />
        <details>
            <summary>
                Bid history
            </summary>
            @if (ViewData["Bids"] is List<Dictionary<string, object>> bids && bids != null && bids.Any())
            {
                <ul id="bidHistory" style="margin-left: 20px">
                    @foreach (var bid in bids)
                    {
                        <li>
                            <p>
                                <a href="/account?id=@bid["BidderId"]">@@@bid["Username"]</a> - @($"{Utils.Currency.FormatDecimalObject(bid["Value"])}€") - @bid["Time"]
                            </p>
                        </li>
                    }
                </ul>
            }
        </details>
    }
    else
    {
        <p>No bids were made</p>
    }

    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        @if ((bool?) ViewData["AuctionEnded"] == false)
        {
            <form method="post">
                <div class="input-box">
                    <p style="margin-left: 20px">Bid amount:</p>
                    @{string placeholder = Utils.Currency.FormatDecimalObject(ViewData["BidPlaceholder"]);}
                    <input id="bidButton" type="number" asp-for="BidAmount" value="@placeholder" placeholder="@($"{placeholder}€")" min="0.00" step="0.01" lang="en" required>
                </div>
                <button type="submit" class="btn btn-primary">Bid</button>
            </form>
        }
        else if (ViewData["BuyerId"] != null && (int?)ViewData["CurrentClientId"] == (int?)ViewData["BuyerId"])
        {
            <br />
            <strong>You won the auction!</strong>

            @if ((bool?)ViewData["IsCompleted"] == false)
            {
                <form method="post">
                    <div class="input-box">
                        <p>Payment method:</p>
                        <select asp-for="PaymentMethod" required>
                            <option value="CreditCard">Credit Card</option>
                            <option value="PayPal">PayPal</option>
                            <option value="ApplePay">Apple Pay</option>
                            <option value="CryptoCurrency">Crypto Currency</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Pay</button>
                </form>
            }
        }

        @if ((bool?) ViewData["AuctionEnded"] == false && (ViewData["SellerId"] != null && (int?)ViewData["CurrentClientId"] == (int?)ViewData["SellerId"]))
        {
            <br />
            string EarlyButtonMessage = "Sell now";
            @if (ViewData["BuyerId"] != null && (int?)ViewData["BuyerId"] == 0)
            {
                EarlyButtonMessage = "Terminate now";
            }
            <form method="post">
                <input hidden asp-for="EarlySell" value="true" />
                <button type="submit" class="btn btn-primary">@EarlyButtonMessage</button>
            </form>
        }

        @if ((bool?)ViewData["AuctionEnded"] == true
            && (ViewData["SellerId"] != null && (int?)ViewData["CurrentClientId"] == (int?)ViewData["SellerId"])
            && (ViewData["BuyerId"] != null && (int?)ViewData["BuyerId"] == 0)
            && ((bool?)ViewData["IsCompleted"] == false))
        {
            <form method="post">
                <div class="input-box">
                    <p style="margin-left: 20px">Extend ending date:</p>
                    <input type="datetime-local" asp-for="ExtendedEndTime" placeholder="Extended ending date" required>
                </div>
                <button type="submit" class="btn btn-primary">Extend</button>
            </form>
        }
    }
</div>

<!-- Countdown timer -->
<script>
    // Set the end time for the countdown
    var endTime = new Date("@ViewData["EndTime"]").getTime();
</script>
<script src="/js/countdown.js"></script>

<!-- Image slider -->
<script src="/js/imageSlider.js"></script>
